{define wish}
	{*
		* design wishu v profile
	*}
	<div class="card feed">
		<div class="card-content row" style="border-bottom:1px solid rgba(160, 160, 160, 0.2); margin: 15px !important">
			<p style="float:right">
				{date_format($w->created, "d.m.Y")}
			</p>
			<p id="{$w->id}">
			 	<b>{$w->name}</b>
			</p>
		</div>
		<div class="card-image col l12 m12 s12">
			<p style="text-align:center">
			{if $w->image}
				<img class="responsive-img" src="{$basePath}/images/upload/wishes/{$w->image}.png"/>
			{else}
				<img class="responsive-img default" src="{$basePath}/images/gift.png"/>
			{/if}
			</p>
		</div>
		<div class="card-action valign-wrapper ">
			<div class="col s11 m11 l11">
				<a href="{$w->link}" target="_blank" n:if="$w->link">{_"Description"}</a>
			</div>
			{if $userDetails->id == $presenter->user->id}
				<div class="col s1 m1 l1">
				<a n:href="deleteWish! delete_id=>$w->id" class="ajax" style="color: black; float:right !important; margin:0px">
					<i class="mdi-action-delete" style="font-size: 25px;"></i>
				</a>
				</div>
					{* <i class="mdi-editor-mode-edit editWish" data-target="{$w->id}" style="float: right; margin-right:10px"></i> *}
			{/if}
		</div>
	</div>
{/define}



{block content}
	{*
		* modalne okno so zoznamom ludi ktorych SLEDUJES - zaciatok
	*}
	<div id="following" class="modal">
		<h4>Following</h4>
		<hr>
		{foreach $following as $f}
			<div class="row">
				<div class="col s12 m12 l12">
					<a n:href="Profile: $f->friend_id">
						<div class="card-panel teal">
							<span class="white-text">{$f->ref("friend_id")->name." ".$f->ref("friend_id")->surname}</span>
						</div>
					</a>
				</div>
			</div>
		{/foreach}
		<hr>
		<a href="#" class="waves-effect btn-flat modal-close">{_"Close"}</a>
	</div>
	{*
		* modalne okno so zoznamom ludi ktorych SLEDUJES - koniec
	*}



	{*
		* modalne okno so zoznamom ludi ktory ta SLEDUJU - zaciatok
	*}
	<div id="followers" class="modal">
		<h4>Followers</h4>
		<hr>
		{foreach $followers as $f}
			<div class="row">
				<div class="col s12 m12 l12">
					<a n:href="Profile: $f->user_id">
						<div class="card-panel teal">
							<span class="white-text">{$f->ref("user_id")->name." ".$f->ref("user_id")->surname}</span>
						</div>
					</a>
				</div>
			</div>
		{/foreach}
		<hr>
		<a href="#" class="waves-effect btn-flat modal-close">Close</a>
	</div>
	{*
		* modalne okno so zoznamom ludi ktory ta SLEDUJU - koniec
	*}




	<div class="row">
		{*
			*
			* LAVA STRANA
			* karta s fotkou a menom uzivatela
			* plus followers a following
			*
		*}
		<div class="col s12 m12 l4" n:snippet="profile">
			<div class="z-depth-2 card-panel">
			    	<div class="row">
			    		<div class="col l12 m12 s12">
			    		<p style="text-align: center;">	
			    		{if $userDetails->profile_image}
							<img class="responsive-img materialboxed profilePhoto" src="{$basePath}/images/upload/profile/{$presenter->user->id}/{$userDetails->profile_image}.png" />
						{else}
							<img class="responsive-img profilePhoto" src="{$basePath}/images/profile.png" />
						{/if}
						</p>
						</div>
						<div class="col l12 m12 s12 profileName">
							<h5>{$userDetails->name." ".$userDetails->surname}</h5>
						</div>
						<div class="buttons col l12 m12 s12" >
							<a n:href="addFriend! friend_id=>$userDetails->id" class="waves-effect waves-light btn col l12 m12 s12 button-green ajax" style="margin-bottom: 25px" n:if="$userDetails->id != $presenter->user->id && !$presenter->isFriend($userDetails->id)"><span class="mdi-social-person-add"></span><span>&nbsp;{_"Follow"}</span></a>
							<a class="waves-effect waves-light btn col l12 m12 s12 button-green modal-trigger" href="#following" style="margin-bottom: 8px"><span class="mdi-social-people"></span><span>&nbsp;following - {$following->count()}</span></a>
							<a class="waves-effect waves-light btn col l12 m12 s12 button-green modal-trigger" href="#followers"><span class="mdi-social-people"></span><span>&nbsp;followers - {$followers->count()}</span></a>
						</div>
					</div>
			</div>
		</div>
		{*
			* koniec lavej strany
		*}



		{*
			*
			* PRAVA STRANA
			* pridanie wishu
			* zoznam wishow
			*
		*}
		<div class="col s12 m12 l8 " n:snippet="wishe">
			{*
				* pridanie wishu - zaciatok
			*}
	    	<ul class="collapsible">
	    		{if $userDetails->id == $presenter->user->id}
		    		<li id="addWish" n:if="$userDetails->id == $presenter->user->id && $wishes">
		    			
		    			<div class="collapsible-header" style="color: #00770B"><i class="mdi-content-add-box"></i>{_"Add wish"}</div>
						<div class="collapsible-body" style="position:relative; background-color:white">
							{snippet loaderAddWish}
								<div class="valign-wrapper" id="overlayAddWish" style="position: absolute; background-color: black; z-index:10; opacity: 0.7; width: 100%; height: 100%; text-align:center">
									<img src="/images/ajax-loader.gif"/>
								</div>

								<script n:if="!$overlay">
									$(document).ready(function(){
										$("#overlayAddWish").css("display","none");
									})
								</script>
							{/snippet}
							<div class="col l12 m12 s12">
								<div class="row">
									{form addWishForm}
										<div class="col s12 m12 l12 input-field" style="margin-top: 15px;">
											<div class="col s12 m8 l9">
												{label link , "style"=>"left:1.5rem !important" /}
												{input link}
											</div>
											<div class="col s4 offset-s8 m4 l3">
												<a class="btn button-green load">
													<span class=" mdi-action-search"></span>
												</a>
											</div>
										</div>
										<div class="col l12 m12 s12">
											<div class="col s12 m12 l12 input-field">
												{label name /}{input name}
											</div>
											{input image}
											
										</div>
										<div class="col l12 m12 s12" style="text-align:center">
											<img class="imgUpload responsive-img" id="preview" style="display: none; cursor: pointer; margin: auto" />
										</div>
										<div class="col l12 m12 s12">
											<div class="col l12 m12 s12 ">
												<div class="imgUpload valign-wrapper" id="imgUpload" style="cursor: pointer; height: 200px; width: 100%; background: grey">
													<h5 class="valign center" style="width: 100%">{_"Click to upload image"}</h5>
												</div>
											</div>
										</div>
										<div class="col l12 m12 s12">
											<div class="col l4 offset-l4 m4 offset-m4 s12 input-field" style="margin-top: 30px;">
												{input send}
											</div>
										</div>
									{/form}
								</div>
							</div>
							<div class="col l12 m12 s12">
								<p style="text-align: center;"></p>
							</div>
						</div>
		   			</li>
	    		{/if}
	    	</ul>
	    	{*
				* pridanie wishu - koniec
	    	*}



	    	{*
				* zoznam wishow - zaciatok
	    	*}
	    	<div class="row">
				{foreach $wishes as $w}
					{include wish}
				{/foreach}
			</div>
			{*
				* zoznam wishow - koniec
	    	*}



	    	{*
				* script na pridanie obrazka a textu - zaciatok
	    	*}
			<script>
				$("#frm-addWishForm-image").css("display","none");
		    	$(".imgUpload").click(function(){
		    		$("#frm-addWishForm-image").click();
		    	});

		    	$(".load").on("click",function(){
		    		$.nette.ajax({
		    			url: this.href,
		    			type: 'GET',
		    			data:{
		    				show: 1,
		    				snippet: "loaderAddWish",
		    				do: "{!overlay}"
		    			},
		    			success: function(){
		    				var url = $("#frm-addWishForm-link").val();
				    		if (url.indexOf('http://')==-1 && url.indexOf('https://')==-1){
				    			url = "http://"+url;
				    			$(this).val(url);
				    		}
				    		
				    		$.nette.ajax({
	 						    url: this.href,
	  							type: 'GET',
	   							data: {
	   								url: url,
	   								do: '{!validUrl}'
	   							},
	   							success: function(payload){
	   								if(payload.valid)
	   								{
		   								$.ajax({
			 						        url: this.href,
			  							   	type: 'GET',
			   							   	data: {
			   							   		url: url,
			  							   		do: '{!getImageAndName}'
			   							   	},
			   							   	success:function(payload) {
			   							   		if (payload.message.title != ""){
			   							   			title = payload.message.title.split("|");
										   			$("#frm-addWishForm-name").val(title);
									    			$("label[for='frm-addWishForm-name']").addClass("active");
									    		}
			    						    	if( payload.message.image != null){ 
			    						    		var imgurl = payload.message.image.replace("&amp;", "&");
			    						    		$('#imgUpload').css("display","none");
			    						    		$('#preview').css("display","block");
			    						    		$('#preview').attr('src', imgurl);
			    						    		$.nette.ajax({
										    			url: this.href,
										    			type: 'GET',
										    			data:{
										    				show: 0,
										    				snippet: "loaderAddWish",
										    				do: "{!overlay}"
										    			}
										    		});
													$(".loaderAddWish").css("display","none");
			    						    	}
			    						    },
			    						    error:function(){
			    						    	Materialize.toast({$presenter->translator->translate("Unable to load data")},10000);
			    						    	$.nette.ajax({
									    			url: this.href,
									    			type: 'GET',
									    			data:{
									    				show: 0,
									    				snippet: "loaderAddWish",
									    				do: "{!overlay}"
									    			}
									    		});
			    						    }
			   							});
									}
									else
									{
										Materialize.toast({$presenter->translator->translate("Bad link")},10000);
										$.nette.ajax({
							    			url: this.href,
							    			type: 'GET',
							    			data:{
							    				show: 0,
							    				snippet: "loaderAddWish",
							    				do: "{!overlay}"
							    			}
							    		});
									}
	   							},
	   							error:function(){
	   								Materialize.toast({$presenter->translator->translate("Bad link")},10000);
	   								$.nette.ajax({
						    			url: this.href,
						    			type: 'GET',
						    			data:{
						    				show: 0,
						    				snippet: "loaderAddWish",
						    				do: "{!overlay}"
						    			}
						    		});
	   							}
	   						});	

				    		
		    			},
		    			error: function(){
		    				console.log("error");
		    			}
		    		});
		    		
					
		    	});
			</script>
			{*
				* script na pridanie obrazka a textu  - koniec
	    	*}
		</div>
		{*
			* koniec pravej strany
		*}
	</div>
{/block}

{block scripts}
	{include parent}

	<script type="text/javascript">
	    function readURL(input) {
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            reader.onload = function (e) {
	                $('#preview').attr('src', e.target.result);
	                $('#preview').show();
	                $('#imgUpload').hide();
	            }
	            reader.readAsDataURL(input.files[0]);
	        }
	    }
	    $(document).ready(function(){
	    	$(".tab").on('click',function(event){
	    		var x = $(this).attr("data");
	    		$("#snippet-wishe").load(this.href+$.now());
	    		$.nette.ajax({
		    	    url: this.href,
		    	    async: false,
			    	type: 'GET',
			    	data: {
			    		type: x,
			    		do: '{!sortWishes}'
			    	}
			    });	
	    	});    	
	    });
	</script>
{/block}
