{block content}
<br><br>
{form signInForm}
		<div class="row">
			<input type="password" name="password" id="password_fake" class="hidden" autocomplete="off" style="display: none;">
			<div class="input-field col s12 m6 l6" style="padding-right: 0px;">
				{label usernameL /}{input usernameL}

			</div>
			<div class="input-field col s12 m6 l6" style="padding-right: 0px;">
				{label passwordL /}{input passwordL}
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col s6 m6 l4">
				<a>{_messages.sign.forgotpass}</a><br>
				<a n:href="Sign:up">{_messages.sign.registration}</a>
			</div>
			<div class="col s6 m6 l4 offset-l4 waves-input-wrapper">
				<a class="btn button-green col l12 waves-effect waves-light" id="submit">{_messages.sign.signin}</a>
				{input send}
			</div>
		</div>
{/form}
<br><br><br>
<blockquote><i>
	tu bude nejaky naozaj bezvyznamny text, ktory nikto nebude citat pretoze bude maximalne bezvyznamny a ten kto ho bude citat, tomu sa cudujem!<br>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus placerat molestie. Aliquam vel tellus at massa ullamcorper elementum a in nunc. Maecenas quis quam in orci feugiat porttitor auctor id lorem. Curabitur consequat mollis aliquam. Vivamus fermentum, velit eu semper fringilla, urna purus porttitor lectus, sed volutpat augue justo quis tortor. Nullam vehicula libero ac arcu lobortis rhoncus. Quisque malesuada mi sed nisl ultricies, sit amet luctus est tincidunt. Vestibulum molestie mi et velit accumsan, quis aliquet metus sodales. Donec aliquet justo arcu, nec porta ante venenatis quis. Vestibulum nec risus nec ex tempus tristique non non risus. Vestibulum faucibus fringilla eros at maximus. Fusce eu libero eu lectus euismod tincidunt.
</i></blockquote>
{/block}
{block scripts}
{include parent}
<script>
$(document).ready(function(){
	$("#submit").click(function(){
		$("#frm-signInForm-send").click();
	})
	$("#frm-signInForm-send").css("display", "none");
	$("#frm-signInForm").attr('autocomplete', 'off');
	 // $('#frm-signInForm-username').val(' ');
});
</script>

{/block}
