{define wish}
<div class="row">
	<div class="col s12 m12 l12" style="padding-right: 0px">
		<div class="card feed">
			<div class="card-content row" style="border-bottom:1px solid rgba(160, 160, 160, 0.2); margin: 15px !important">
				<p style="float:right">
					{date_format($w->created, "d.m.Y")}
				</p>
				<p class="homepagePhoto">
					{if $w->profile_image != ""}
						<img class="responsive-img" src="{$basePath}/images/upload/profile/{$w->profile_image}.png" />
					{else}
						<img class="responsive-img" src="{$basePath}/images/profile.png" />
					{/if}
				</p>
				<p  class="{$w->id}">
				 	<a href="/profile/{$w->user_id}">{$w->username." ".$w->surname}</a>
				</p>
				<p class="{$w->id}">
				 	{$w->name}
				</p>
			</div>
			<div class="card-image col l12 m12 s12">
				<p style="text-align: center">
				{if $w->image}
					<img class="responsive-img" src="{$basePath}/images/upload/wishes/{$w->image}.png"/>
				{else}
					<img class="responsive-img default" src="{$basePath}/images/gift.png"/>
				{/if}
				</p>
			</div>
			<div class="card-action col l12">
				<a href="{$w->link}">Description</a>
			</div>
		</div>
	</div>
</div>
{/define}
{block content}
	<div class="col s12 m12 l4">
		<ul class=" collection with-header">
			<li class="collection-header"><h5>Notifikacie</h5></li>
			<li class="collection-item">prva notifikacie</li>
			<li class="collection-item">druhanotif</li>
			<li class="collection-item">trtie</li>
		</ul>
	</div>
	<div class="col s12 m12 l8">
	{snippet feed}
		<div id="wish">
		{foreach $wishes as $w}
			{include wish}
		{/foreach}
		</div>
		<div id="nextFeed" class="buttons col l12 m12 s12 z-depth 2 card-panel button-green  waves-effect waves-light" n:if = "$isButton">
			<a class="center col l12 m12 s12 button-green ajax nextfeed">
				<i class=" white-text s12 small mdi-navigation-more-vert"></i>
			</a>
		</div>

		
	{/snippet}
	</div>
{/block}
{block scripts}
{include parent}
<script src="{$basePath}/js/jquery.viewport.js"></script>
<script>
 $(window).bind("scroll", function(event) {
$("#nextFeed:in-viewport").each(function(){
	console.log("qwe");
			$.nette.ajax({
			    url: this.href,
			    async: false,
				type: 'GET',
				data: {
					offset: $('.feed').length,
				    do: '{!nextFeed}'
				},
				success:function(payload){
					$("#wish").append(payload.string);
					if(!payload.isButton)
						$("#nextFeed").remove();
				}
			});	
		});
});

	$(document).ready(function(){
	
		$(".nextfeed").click(function(){
			$.nette.ajax({
			    url: this.href,
			    async: false,
				type: 'GET',
				data: {
					offset: $('.feed').length,
				    do: '{!nextFeed}'
				},
				success:function(payload){
					$("#wish").append(payload.string);
					if(!payload.isButton)
						$("#nextFeed").remove();
				}
			});	
		});
	})
</script>
{/block}