@media (max-width: 992px) {
	.brand-logo{
		margin-left: 0px !important;
	}
}

@media (min-width : 601px) {
  .container {
    width: 85% !important; }
 }

@media (min-width : 993px) {
  .container {
    width: 85% !important; }
 }