blockquote {
  border-color: #00770B;
  color: lightgrey;
}
a {
  cursor: pointer;
}
.tabs li.tab a {
  color: #00770B !important;
}
.indicator {
  background-color: #00770B !important;
}
.button-green {
  background-color: #00770B !important;
  color: white !important;
}
.button-red {
  background-color: #00770B !important;
  color: white !important;
}
.row {
  margin: 0 !important;
}
a {
  color: #03A9F4;
}
a:hover {
  text-decoration: none !important;
}
.select-dropdown.dropdown-content {
  max-height: 200px !important;
  overflow-y: auto;
}
.section {
  margin-top: 64px;
}
nav {
  border: 1px solid black !important;
  position: fixed;
  z-index: 999;
  height: 64px !important;
  background-color: #00770B !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 75px;
  border-bottom: 3px solid black;
}
nav .nav-wrapper {
  background-color: #00770B !important;
}
nav .brand-logo {
  color: white !important;
}
nav .brand-logo .logo {
  height: 60px;
}
nav .name {
  margin-top: 10px;
  font-size: 40px;
  color: white;
  text-align: left;
  text-transform: uppercase;
}
nav menu {
  padding-left: 50px !important;
}
nav menu a {
  padding: 0px 10px !important;
}
nav menu a div {
  color: white !important;
}
nav menu a .menu-image {
  width: 40px;
  height: 40px;
}
.profileName {
  font-size: 20px;
}
.profilePhoto {
  min-height: 100px !important;
  min-width: 100px !important;
}
.profileName {
  text-align: center;
}
.ui-state-default:last-child .collapsible-header {
  border: none;
}
.button {
  margin-top: 10px;
  padding: 5px 5px;
  font-size: 20px;
}
.button.green {
  min-width: 300px !important;
  background-color: #00770B !important;
  border: 4px solid darkgrey !important;
  color: white !important;
  text-align: center;
}
.button.green:hover {
  text-decoration: none !important;
  background-color: #EEEEEE !important;
  color: white !important;
}
.settings .margin-top-15 {
  margin-top: 15px !important;
}
.homepagePhoto {
  width: 45px;
  float: left;
  margin-right: 15px !important;
}
.card-image p .responsive-img {
  width: auto !important;
}
.card-image p .responsive-img.default {
  width: 33% !important;
}
.search-form {
  line-height: 40px;
  margin-top: 12px;
}
.search-icon {
  margin-top: -12px;
}
.ui-autocomplete {
  background: white;
}
.ui-menu-item:first-of-type {
  margin-top: 10px !important;
}
.ui-state-focus {
  background: #81c784;
}
@media (max-width: 992px) {
  .brand-logo {
    margin-left: 0px !important;
  }
}
@media (min-width: 601px) {
  .container {
    width: 85% !important;
  }
}
@media (min-width: 993px) {
  .container {
    width: 85% !important;
  }
}
